body{
    background-color:#85144b;
}

*{
    border: 1px dashed pink;
}

#MainTitle{
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    font-size:333%;
    color: aliceblue;
    padding-bottom: 20px;
    letter-spacing: 4px;
    font-weight: 100;

}

#MainContainer{

}